{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block breadcrumb-tree %}
    <div class="col-md-12">
        <ul class="breadcrumb-tree">
            <li><a href="{% url 'home_url' %}">Home</a></li>
            <li class="active">Logout Page</li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5"></div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <h1>{% trans "Sign Out" %}</h1>

                <p>{% trans 'Are you sure you want to sign out?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="primary-btn order-submit" type="submit">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
