{% extends 'base.html' %}
{% load ratings %}

{% block title %}{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block content %}
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                {% for category in popular_categories %}
                    <!-- shop -->
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <div class="shop-img">
                                <img src="{{ category.image.url }}" alt="">
                            </div>
                            <div class="shop-body">
                                <h3>
                                    {{ category.name }}
                                    <br>Collection</h3>
                                <a href="product_list/?category={{ category.id }}" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /shop -->
                {% endfor %}
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">New Products</h3>
                    </div>
                </div>
                <!-- /section title -->

                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div id="tab1" class="tab-pane active">
                                <div class="products-slick" data-nav="#slick-nav-1">
                                    {% for product in product_list %}
                                        {% if product.new %}
                                            <!-- product -->
                                            <div class="product">
                                                <div class="product-img">
                                                    <img src="{{ product.image.url }}" alt="">
                                                    <div class="product-label">
                                                        {% if product.discount %}
                                                            <span class="sale">-{{ product.discount }}%</span>
                                                        {% endif %}
                                                        <span class="new">NEW</span>
                                                    </div>
                                                </div>
                                                <div class="product-body">
                                                    <p class="product-category">{{ product.category }}</p>
                                                    <h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product }}</a></h3>
                                                    {% if product.discount %}
                                                        <h4 class="product-price">${{ product.get_price_with_discount }} <del class="product-old-price">${{ product.price }}</del></h4>
                                                    {% else %}
                                                        <h4 class="product-price">${{ product.price }}</h4>
                                                    {% endif %}
                                                    {% ratings product %}
                                                </div>
                                                <div class="add-to-cart">
                                                    <a href="{% url 'cart:cart_add' product.id %}" class="add-to-cart-btn">Add to cart</a>
                                                </div>
                                            </div>
                                            <!-- /product -->
                                        {% endif %}
                                    {% endfor %}
                                    <!-- /product -->
                                </div>
                                <div id="slick-nav-1" class="products-slick-nav"></div>
                            </div>
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
                <!-- Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- HOT DEAL SECTION -->
    <div id="hot-deal" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="hot-deal">
                        <ul class="hot-deal-countdown">
                            <li>
                                <div>
                                    <h3>02</h3>
                                    <span>Days</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>10</h3>
                                    <span>Hours</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>34</h3>
                                    <span>Mins</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>60</h3>
                                    <span>Secs</span>
                                </div>
                            </li>
                        </ul>
                        <h2 class="text-uppercase">hot deal this week</h2>
                        <p>New Collection Up to 50% OFF</p>
                        <a class="primary-btn cta-btn" href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /HOT DEAL SECTION -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Top selling</h3>
                    </div>
                </div>
                <!-- /section title -->

                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div id="tab2" class="tab-pane fade in active">
                                <div class="products-slick" data-nav="#slick-nav-2">
                                    {% for product in product_list %}
                                        {% if product.top_selling %}
                                            <!-- product -->
                                            <div class="product">
                                                <div class="product-img">
                                                    <img src="{{ product.image.url }}" alt="">
                                                    <div class="product-label">
                                                        {% if product.discount %}
                                                            <span class="sale">-{{ product.discount }}%</span>
                                                        {% endif %}
                                                        {% if product.new %}
                                                            <span class="new">NEW</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="product-body">
                                                    <p class="product-category">{{ product.category }}</p>
                                                    <h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product }}</a></h3>
                                                    <h4 class="product-price">${{ product.get_price_with_discount }} <del class="product-old-price">${{ product.price }}</del></h4>

                                                    {% ratings product %}
                                                </div>
                                                <div class="add-to-cart">
                                                    <a href="{% url 'cart:cart_add' product.id %}" style="height: 1.5em" class="add-to-cart-btn">Add to cart</a>
                                                </div>
                                            </div>
                                            <!-- /product -->
                                        {% endif %}
                                    {% endfor %}
                                    <!-- /product -->
                                </div>
                                <div id="slick-nav-2" class="products-slick-nav"></div>
                            </div>
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
                <!-- /Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
{% endblock content %}
