{% extends 'base.html' %}
{% load ratings %}

{% block title %} {{ product.title }} {% endblock title %}

{% block breadcrumb-tree %}
    <div class="col-md-12">
        <ul class="breadcrumb-tree">
            <li><a href="{% url 'home_url' %}">Home</a></li>
            <li><a href="{{ product.category.url }}">{{ product.category.name }}</a></li>
            <li class="active">{{ product }}</li>
        </ul>
    </div>
{% endblock breadcrumb-tree %}

{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src="{{ product.image.url }}" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product main img -->

                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        {% for image in product.productshot_set.all %}
                            <div class="product-preview">
                                <img src="{{ image.image.url }}" alt="{{ image.image.description }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /Product thumb imgs -->

                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">{{ product }}</h2>
                        <div>
                            {% ratings object %}
                        </div>

                        <a class="review-link" href="#">{{ product.reviews_set.count }} Review(s) | Add your review</a>

                        <div>
                            <h3 class="product-price">${{ product.price }} <del class="product-old-price">${{ product.price }}</del></h3>
                            {% if product.availability %} <span class="product-available">In Stock</span> {% endif %}
                        </div>
                        {{ product.description|safe }}



                        <div class="add-to-cart">
                            <a href="{% url 'cart_add' product.id %}" class="add-to-cart-btn"> add to cart</a>
                        </div>

                        <ul class="product-btns">
                            <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                            <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                        </ul>

                        <ul class="product-links">
                            <li>Category:</li>
                            <li><a href="#">{{ product.category }}</a></li>
                        </ul>

                        <ul class="product-links">
                            <li>Share:</li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->

                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                            <li><a data-toggle="tab" href="#tab3">Reviews ({{ product.reviews_set.count }})</a></li>
                        </ul>
                        <!-- /product tab nav -->

                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ product.description|safe }}
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->

                            <!-- tab2  -->
                            <div id="tab3" class="tab-pane fade in">
                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            {% for review in product.reviews_set.all %}
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">{{ review.name }}</h5>
                                                        <p class="date">{{ review.created }}</p>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>{{ review.text }}</p>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <ul class="reviews-pagination">
                                            <li class="active">1</li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Reviews -->

                                <!-- Review Form -->
                                <div class="col-md-3" style="">
                                    <div id="review-form" >
                                        <form class="review-form" action="{% url 'add_review' product.id %}" method="post">
                                            {% csrf_token %}
                                            <input class="input" type="text" name="name" placeholder="Your Name" required>
                                            <input class="input" type="email" name="email" placeholder="Your Email" required>
                                            <textarea class="input" name="text" placeholder="Your Review" required></textarea>
                                            <button type="submit" class="primary-btn">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->

        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- Section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Related Products</h3>
                    </div>
                </div>
                {% for product in related_products %}
                    <!-- product -->
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                <img src="{{ product.image.url }}" alt="">
                                <div class="product-label">
                                    <span class="sale">-30%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{ product.category }}</p>
                                <h3 class="product-name"><a href="{{ product.slug }}">{{ product }}</a></h3>
                                <h4 class="product-price">${{ product.price }} <del class="product-old-price">$990.00</del></h4>
                                <div class="product-rating">
                                    {% ratings product %}
                                </div>
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a href="{% url 'cart_add' product.id %}" class="add-to-cart-btn"> add to cart</a>
                            </div>
                        </div>
                    </div>
                    <!-- /product -->
                {% endfor %}
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /Section -->
{% endblock content %}