{% load static %}
{% load cart_tag %}
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="{% url 'home_url' %}" class="logo">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form action="{% url 'search' %}" method="get">
                            <input class="input" name="q" placeholder="Search here">
                            <button type="submit" class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                                <div class="qty">2</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Your Cart</span>
                                <div class="qty">{{request.session.cart|length}}</div>
                            </a>
                            <div class="cart-dropdown">

                                <div class="cart-list">
                                {% if request.session.cart.items %}
                                     {% for key,value in request.session.cart.items %}
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src=" {{value.image}}" alt="">
                                        </div>

                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">{{ value.name }}</a></h3>
                                            <h4 class="product-price"><span class="qty">{{value.quantity}}x</span>${{ value.price|multiply:value.quantity }}</h4>
                                        </div>
                                        <a href="{% url 'item_clear' value.product_id %}" class="delete"><i class="fa fa-close"></i></a>
                                    </div>
{% if forloop.last %}
                                </div>
                                <div class="cart-summary">
                                    <small>{{request.session.cart|length}} Item(s) selected</small>
                                     <h5>SUBTOTAL: {{cart_total_amount}}$</h5>
                                </div>
                                         {% endif %}

                                {% endfor %}

                            {% else %}
                             </div>
                                <div class="cart-summary">
                                    <small>{{request.session.cart|length}} Item(s) selected</small>
                                     <h5>SUBTOTAL: {{ value.total_price }}$</h5>
                                </div>
                        {% endif %}
                                <div class="cart-btns">
                                    <a href="#">View Cart</a>
                                    <a href="{% url 'cart_detail_url' %}">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>