{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block breadcrumb-tree %}
    <div class="col-md-12">
        <h3 class="breadcrumb-header">Checkout</h3>
        <ul class="breadcrumb-tree">
            <li><a href="{% url 'store:home_url' %}">Home</a></li>
            <li class="active">Checkout</li>
        </ul>
    </div>
{% endblock breadcrumb-tree %}

{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <form action="." method="post">{% csrf_token %}
                    <div class="col-md-7">
                        <!-- Billing Details -->
                        <div class="billing-details">
                            <div class="section-title">
                                <h3 class="title">Billing address</h3>
                            </div>

                            <div class="form-group">
                                <input class="input" type="text" name="first_name" id="id_first_name" maxlength="50" required placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="last_name" id="id_last_name" maxlength="50" required placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input class="input" type="email" name="email" id="id_email" required placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="address" id="id_address" required placeholder="Address">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="city" id="id_city" required placeholder="City">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="country"  id="id_country" required placeholder="Country">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="postal_code" id="id_postal_code" required placeholder="Postal Code">
                            </div>
                            <div class="form-group">
                                <input class="input" type="tel" name="telephone" id="id_telephone" required placeholder="Telephone">
                            </div>
                            <div class="form-group">
                                <div class="order-notes">
                                <textarea class="input" id="id_order_notes"  maxlength="2000"
                                          placeholder="Order Notes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 order-details">
                        <div class="section-title text-center">
                            <h3 class="title">Your Order</h3>
                        </div>
                        <div class="order-summary">
                            <div class="order-col">
                                <div><strong>PRODUCT</strong></div>
                                <div><strong>TOTAL</strong></div>
                            </div>
                            <div class="order-products">
                                {% for item in cart %}
                                    <div class="order-col">
                                        <div>{{ item.quantity }}x {{ item.product }}</div>
                                        <div>${{ item.price }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="order-col">
                                <div>Shiping</div>
                                <div><strong>FREE</strong></div>
                            </div>
                            <div class="order-col">
                                <div><strong>TOTAL</strong></div>
                                <div><strong class="order-total">${{ cart.get_total_price }}</strong></div>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="input-radio">
                                <input type="radio" name="payment" id="payment-1" >
                                <label for="payment-1">
                                    <span></span>
                                    Direct Bank Transfer
                                </label>
                                <div class="caption">
                                    <p>This site is not commercial. Made for demonstration purposes. <b>You cannot pay for the goods.</b></p>
                                </div>
                            </div>
                            <div class="input-radio" >
                                <input type="radio" name="payment" id="payment-2">
                                <label for="payment-2">
                                    <span></span>
                                    Privat24
                                </label>
                                <div class="caption">
                                    <p>This site is not commercial. Made for demonstration purposes. <b>You cannot pay for the goods.</b></p>
                                </div>
                            </div>
                            <div class="input-radio">
                                <input type="radio" name="payment" id="payment-3">
                                <label for="payment-3">
                                    <span></span>
                                    Paypal System
                                </label>
                                <div class="caption">
                                    <p>This site is not commercial. Made for demonstration purposes. <b>You cannot pay for the goods.</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="terms">
                            <label for="terms">
                                <span></span>
                                I've read and accept the <a href="#">terms & conditions</a>
                            </label>
                        </div>
                        <button type="submit" class="primary-btn order-submit">Place order</button>
                    </div>
                    <!-- /Billing Details -->
                </form>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
{% endblock content %}