{% extends 'base.html' %}

{% block breadcrumb-tree %}
    <h3 class="breadcrumb-header">Regular Page</h3>
    <ul class="breadcrumb-tree">
        <li><a href="{% url 'store:home_url' %}">Home</a></li>
        <li class="active">Order</li>
    </ul>
{% endblock %}
{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <h4 style="text-align: center">{{ order.first_name }} thank you for beta testing:) You {{ order }}</h4>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
{% endblock %}